tr 
    td #{employee.id}
    td #{employee.name}
    td 
        a.text-primary(href=`/employees/details/${employee.id}`) Details
    td 
        a.text-warning(href=`/employees/edit/${employee.id}`) Edit
    td 
        a.text-danger(href=`/employees/delete/${employee.id}`) Delete