extend ../layout.pug

block pagecontent
    ul.list-group.mt-3  
        li.list-group-item 
            a.text-decoration-none(href="/") Back to Home

    table.table.table-hover.table-striped
        thead 
            tr 
                th ID 
                th NAME
                th 
                th ACTIONS 
                th 
        tbody
            each employee in empList 
                include ./partials/employee-row.pug